@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

.details {
  font-family: "M PLUS 1 Code", monospace;
  color: #00E500;
  text-align: right;
}

.about-header {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.about-subheader {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.contact {
  font-size: 20px;
  line-height: 24px;
}
.backlit {
  filter: blur(0.7px);
  text-shadow: 2px 2px 32px rgba(0, 255, 0, 0.7), 0px 0px 16px rgba(0, 255, 0, 0.4);
}

.terminal {
  aspect-ratio: 16 / 9;
  background-color: #101310;
  width: 800px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 0px 128px rgba(196, 196, 1196, 0.4), 0px 0px 32px rgba(0, 255, 0, 0.1);
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}
.terminal-overlay {
  filter: blur(2px);
  background: linear-gradient(
    #101310,
    #171D17 4px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: pan-overlay 24s linear infinite;
}

.terminal-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.terminal-text {
  font-family: "Fira Code", monospace;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #00E500;
}

.footer {
  border-top: 2px solid #00E500;
  box-shadow: 0px 0px 32px rgba(0, 255, 0, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes horizontal-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-1 * var(--content-width)), 0, 0);
  }
}
.footer-content {
  animation: horizontal-scroll 24s linear infinite;
}
.footer-text {
  color:#00E500;
  font-family: "M PLUS 1 Code", monospace;
  font-size: 28px;
}
.m1-bold {
  font-family: "M PLUS 1 Code", monospace;
  font-weight: 600;
}
.link {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
.link:hover {
  text-decoration: underline;
  color: #00E500;
}